node_modules
npm-debug.log
.DS_Store
.env
.env.*
!.env.example
.git
.gitignore
.vscode
.idea
*.md
*.ts
!src/**/*.d.ts
!prisma/schema.prisma
!prisma/seed.ts
**/__tests__
**/*.test.ts
**/*.spec.ts
dist
coverage
